In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [10]:
data= pd.read_excel(r'C:\Users\Dell\Downloads\ItemList.xlsx', header=None)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14963 entries, 0 to 14962
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       14963 non-null  object
 1   1       14963 non-null  object
 2   2       4883 non-null   object
 3   3       2185 non-null   object
 4   4       795 non-null    object
 5   5       451 non-null    object
 6   6       276 non-null    object
 7   7       196 non-null    object
 8   8       51 non-null     object
 9   9       1 non-null      object
 10  10      1 non-null      object
dtypes: object(11)
memory usage: 1.3+ MB

In [13]:
data= data.dropna()

In [14]:
records =[]
for i in range (0, len(data)):
    row=[]
    for j in range (0, data.shape[1]):
        if data.values[i,j] != 0:
            row.append(str(data.values[i,j]))
    records.append(row)

In [16]:
te = TransactionEncoder()
te_ary = te.fit(records).transform(records)
df = pd.DataFrame(te_ary,columns=te.columns_)

,beverages,curd,newspapers,other vegetables,pip fruit,rolls/buns,sausage,soft cheese,specialty bar,yogurt
0,True,True,True,True,True,True,True,True,True,True

In [6]:
#calculate Support
frequent_itemsets = apriori(df, min_support=0.001,use_colnames=True)
print(frequent_itemsets)

      support                                           itemsets
0         1.0                                        (beverages)
1         1.0                                             (curd)
2         1.0                                       (newspapers)
3         1.0                                 (other vegetables)
4         1.0                                        (pip fruit)
...       ...                                                ...
1018      1.0  (specialty bar, yogurt, soft cheese, newspaper...
1019      1.0  (specialty bar, yogurt, soft cheese, sausage, ...
1020      1.0  (specialty bar, yogurt, soft cheese, newspaper...
1021      1.0  (specialty bar, yogurt, soft cheese, newspaper...
1022      1.0  (specialty bar, yogurt, soft cheese, newspaper...

[1023 rows x 2 columns]

In [7]:
#calculate Confidence
from mlxtend.frequent_patterns import association_rules
association_rules(frequent_itemsets,metric='confidence',min_threshold=0.001)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(curd),(beverages),1.0,1.0,1.0,1.0,1.0,0.0,inf
1,(beverages),(curd),1.0,1.0,1.0,1.0,1.0,0.0,inf
2,(newspapers),(beverages),1.0,1.0,1.0,1.0,1.0,0.0,inf
3,(beverages),(newspapers),1.0,1.0,1.0,1.0,1.0,0.0,inf
4,(beverages),(other vegetables),1.0,1.0,1.0,1.0,1.0,0.0,inf
...,...,...,...,...,...,...,...,...,...
56997,(pip fruit),"(specialty bar, yogurt, soft cheese, newspaper...",1.0,1.0,1.0,1.0,1.0,0.0,inf
56998,(rolls/buns),"(specialty bar, yogurt, soft cheese, newspaper...",1.0,1.0,1.0,1.0,1.0,0.0,inf
56999,(other vegetables),"(specialty bar, yogurt, soft cheese, newspaper...",1.0,1.0,1.0,1.0,1.0,0.0,inf
57000,(curd),"(specialty bar, yogurt, soft cheese, newspaper...",1.0,1.0,1.0,1.0,1.0,0.0,inf
57001,(beverages),"(specialty bar, yogurt, soft cheese, newspaper...",1.0,1.0,1.0,1.0,1.0,0.0,inf